@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "signature";
  src: url("../src/assets/fonts/agustina.otf");
}

@font-face {
  font-family: "primary";
  src: url("../src/assets/fonts/poppins.ttf");
}

@layer components {
  .font-signature {
    font-family: 'signature' sans-serif;
  }


  .font-primary {
    font-family: 'primary';
  }
}