@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "signature";
  src: url("../src/assets/fonts/agustina.otf");
}

@font-face {
  font-family: "main";
  src: url("../src/assets/fonts/poppins.ttf");
}

@layer components {
  .font-signature {
    font-family: 'signature' sans-serif;
  }


  .font-primary {
    font-family: 'primary';
  }
}